@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

footer {
    @include mix.theme(dark, 'accent');
    display: grid;
    place-items: center;

    .footerText {
        margin-block-start: mix.px-to-rem(156px);
        @include mix.responsive-size(12px, 8px, null);
        place-self: start;
    }

    @include mix.respond-to('laptop') {
        .footerText {
            margin-block-start: mix.px-to-rem(80px);
        }
    }
}
