@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.menuNavDesktop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .navDesktop {
        display: flex;

        .navItem {
            @include mix.responsive-size(null, 16px, null);

            .link {
                position: relative;
                font-family: vars.$font-family-title;
                @include mix.transition(background);

                &::after {
                    content: '';
                    background: vars.$color-details;
                    width: 100%;
                    height: mix.px-to-rem(2.5px);
                    position: absolute;
                    border-radius: 8px;
                    bottom: mix.px-to-rem(-5px);
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    @include mix.transition(transform);
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }

                &.active {
                    font-weight: bold;
                    background: vars.$color-details;
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }
        }
    }

    .settings {
        display: flex;
        align-items: center;
        gap: mix.px-to-rem(24px);
    }
}

@include mix.respond-to('medium') {
    .menuNavDesktop {
        display: none;
    }
}
