@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.waveContainer {
    position: relative;
    overflow: visible;
    z-index: 100;
    max-width: 100svw;

    .parallaxWave {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: fit-content;
        min-height: mix.px-to-rem(375px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &.numberOne {
            background-image: url('/images/decorationsImages/waveDarkOne.svg');
            z-index: 1;
            transform: translateX(120px);
            width: calc(100% - 120px);
            filter: drop-shadow(20px 10px 10px vars.$color-black-opacity);
        }

        &.numberTwo {
            background-image: url('/images/decorationsImages/waveDarkTwo.svg');
            z-index: 2;
            filter: drop-shadow(20px 10px 10px vars.$color-black-opacity);
        }
    }

    @include mix.respond-to('medium') {
        .parallaxWave {
            min-height: mix.px-to-rem(275px);

            &.numberOne {
                transform: translateX(30px);
                width: calc(100% - 30px);
            }
        }
    }

    @include mix.respond-to('small') {
        .parallaxWave {
            &.numberOne {
                left: 0px;
            }
        }
    }
}
