$dark-background-main: #2e2c2c;
$dark-background-accent: #292626;
$dark-background-hover: #242121;
$dark-background-header: linear-gradient(to bottom, #393535, #39363660);
$dark-background-font: #f3eded;
$dark-color: #f3eded;

$light-background-main: #d6d2d2;
$light-background-accent: #e4e2e2;
$light-background-hover: #cac4c4;
$light-background-header: linear-gradient(to bottom, #e4e2e2, #e4e2e260);
$light-background-font: #0a0505;
$light-color: #0a0505;

$color-overlay: #000000d9;
$color-shadow: #1a18187e;
$color-primary: #0c8de3;
$color-shadow-primary: #0c8de320;
$color-secondary: #3d73be;
$color-shadow-secondary: #3d73be30;
$color-details: linear-gradient(to right, $color-secondary, $color-primary);

$font-family-logo: var(--font-fira-code), monospace;
$font-family-title: var(--font-outfit), sans-serif;
$font-family-body: var(--font-rubik), sans-serif;
$base-font-size: 16px;
$large-font-size: 16px;

$font-family-logo-fallback: 'Fira Code', monospace;
$font-family-title-fallback: 'Outfit', sans-serif;
$font-family-body-fallback: 'Rubik', sans-serif;
